.middleDiv{
   margin: 90px 140px;
   width: 1200px;
   height: 500px;
   background-color: rgb(255, 255, 255);
   display: flex;
   opacity: 0.7;
   flex-direction: column;
   padding: 30px;
}



.middleDiv h1, ol{
   color: rgb(46, 46, 66);
}

.middleDiv li{
   color: #54559e;
}