@import url("https://fonts.googleapis.com/css?family=Kulim+Park:400,700&display=swap");

body {
  font-family: "Kulim Park", sans-serif;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  margin: 0;
  padding: 2em;

  .container {
    background-color: whitesmoke;
    max-width: 600px;
    margin: 50px auto;
    padding: 2em 3em;
    border-radius: 15px;

   .password-area {
      display: block;
      width: 100%;
      line-height: 1.5;
      font-size: 1.2em;
      margin: 1em 0;
    }

   .length-slider {
      margin: 1em 0.5em;
      color: black;
   }

    .char-options {
      margin: 1em auto;
      display: flex;
      justify-content: space-evenly;
      color: black;
      cursor: pointer;
    }

    .password-button {
      display: block;
      width: 100%;
      line-height: 1.5;
      font-size: 1.2em;
      border-radius: 5px;
    }
  }
}